<!--Главный шаблон для роута default -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title><?=Config::get('site_name')?></title>
    <link rel="stylesheet" href="webroot/css/style.css">
    <!--link rel="stylesheet" href="webroot/css/bootstrap.min.css"><!--Кастомизированный bootstrapю Не помогло-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    h1{
    color: white; /*#0000ff;*/
    -webkit-text-stroke: 1px black;
    font: 100px Georgia;
        text-align: center;
        vertical-align: middle;
        font-size:70px;
        margin-top: 0px;
        opacity: 0.3; /* Степень прозрачности  */
    }
    h2{
        color: orangered;
        -webkit-text-stroke: 1px black;
        font: 50px Georgia;
        margin-top: 0px;
    }
    h4{
             color:  #00004f;//#b33b42;
             font: 25px Times New Roman;
             text-align: center;
             vertical-align: middle;

         }
    h3{
        color: #ff16c1;/*#ff16c1;*/
        -webkit-text-stroke: 1px blue;
        text-align: center;
        vertical-align: middle;
    }
    .navbar{
        margin-bottom: 10px;
    }
    .btn-group:hover > .dropdown-menu/*равкрывающиеся меню */
    {
        display: block;
    }
    </style>
</head>
<body>
<!------------------------------//////////////////////////////------------------->
<nav class="navbar navbar-inverse ">

    <div class="container-fluid">
        <div>
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true" style="color: white;"> 063-494-48-02</span><!--PHOHE-->
            .............................................................................................................................................
            <span class="header-user-pre-title" style="color: white" >Здравствуйте,</span>
            <span class="glyphicon glyphicon-user" aria-hidden="true" style="color: white;" ></span>
            <div class="btn-group" role="group">
                <a href="/admin" name="signin" class="header-user-link sprite-side whitelink xhr"
                   style="color: white;" data-toggle="dropdown" id="dropdownMenu1">
                    <?php
                        if (Session::get('login') )
                    { ?>
                    <?=(Session::get('name') )?>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <?php
                        if ((Session::get('role') != 'admin')&&(Session::get('role') != 'manager'))
                        {
                    ?>
                            <li><a type="button"  align="center" href="/pades/cabinet">В личный кабинет</a></li>
                            <li><a type="button"  align="center" href="/contacts">Оставить отзыв</a></li>
                            <li><a type="button"  align="center" href="/admin/users/logout">Выйти из акаунта</a></li>
                    <?php
                        }
                        else
                        {
                    ?>
                            <li><a type="button"  align="center" href="/admin">В управление</a></li>
                            <li><a type="button"  align="center" href="/admin/users/logout">Выйти из акаунта</a></li>
                    <?php
                        }
                    ?>
                </ul>
            </div>
                    <?php
                    }
                    else
                    {?>
                    войдите в личный кабинет

                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a type="button"  align="center" href="/admin">Авторизиваться</a></li>
                    <li><a type="button"  align="center" href="/pages/catalog/<?=$cell['id_catalog']?>">Зарегистрироваться</a></li>
                </ul>
            </div>
                <!--USER-->
                    <?php
                    }?>



        </div>
        <a href="/"><img src="/webroot/img/zenit_4.jpg" align="left" alt="Логотип"></a>
        <!--<a class="navbar-brand" href="#">Brand</a>-->

        <div id="navbar" class="collapse navbar-collapse">
            <!--<a class="navbar-brand" href="#">Brand</a>-->
            <!--<<a href="/"><img src="webroot/img/zenit_4.jpg" align="left" alt="Логотип"></a>-->
            <ul class="nav navbar-nav"   hspace="70">
                <!--<li><a <?php if ( App::getRouter()->getController() == '/pages' ) {?>class="/active/"<?php } ?> href="/pages"><?=__('lng.about_as', '!')?></a></li>-->
                <li><a <?php if ( App::getRouter()->getController() == 'informations' ) {?>class="/active/"<?php } ?> href="/informations/payment"><?=__('lng.payment', '!')?></a></li>
                <li><a <?php if ( App::getRouter()->getController() == 'informations' ) {?>class="/active/"<?php } ?> href="/informations/guarantee"><?=__('lng.guarantee', '!')?></a></li>
                <li><a <?php if ( App::getRouter()->getController() == 'locations' ) {?>class="/active/"<?php } ?> href="/locations"><?=__('lng.contacts', '!')?></a></li>
                <li><a <?php if ( App::getRouter()->getController() == 'informations' ) {?>class="/active/"<?php } ?> href="/informations/sell"><?=__('lng.sell', '!')?></a></li>
            </ul>
<!-- Окно поиска пор тегам -->
            <form class="navbar-form navbar-left">
                <div class="input-group" >
                    <input type="text" class="form-control" placeholder="<?=__('lng.search', '!')?>">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
<!-- Кнопка корзины -->
            <button type="button" class="btn btn-default btn-sm navbar-btn" title="Корзина">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="color: black;"></span>
            </button>
        </div>
    </div>
</nav>
<!-------------------------//////////////////////////------------------------------------>
<!------------------Вывод контента-Центральной части страницы--------------->
            <div class="starter-template">
<!--Отправка сообщений через сессии-->
                <?php if( Session::hasFlash() ) { ?>
                <div class="alert alert-info" role="alert">
                    <?php Session::flash(); ?>
                </div>
                <?php } ?>
                <?=$data['content']?>
            </div>
<!-------------------------//////////////////////////------------------------------------>
<!------------------------Нижнее меню---------------------------------->
<footer>
    <nav class="navbar navbar-inverse ">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <ul class="nav navbar-nav" hspace="70">
                    <li><a>График работы Call-центра: </a></li>
                    <li><a>Будние дни с 9.00 до 17.00 </a></li>
                    <li><a>063-494-48-02 </a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="nav navbar-nav" hspace="70">
                    <li><a <?php if ( App::getRouter()->getController() == 'informations' ) {?>class="/active/"<?php } ?> href="/informations/about_us"><?=__('lng.about_as', '!')?></a></li>
                    <li><a <?php if ( App::getRouter()->getController() == 'locations' ) {?>class="/active/"<?php } ?> href="/locations"><?=__('lng.contacts', '!')?></a></li>

                    <li><a <?php if ( App::getRouter()->getController() == 'informations' ) {?>class="/active/"<?php } ?> href="/informations/returns"><?=__('lng.returns', '!')?></a></li>
                    <li><a <?php if ( App::getRouter()->getController() == 'informations' ) {?>class="/active/"<?php } ?> href="/informations/conditions"><?=__('lng.conditions', '!')?></a></li>
                    <li><a <?php if ( App::getRouter()->getController() == 'informations' ) {?>class="/active/"<?php } ?> href="/informations/sell"><?=__('lng.sell', '!')?></a></li>
                    <li><a <?php if ( App::getRouter()->getController() == 'contacts' ) {?>class="/active/"<?php } ?> href="/contacts"><?=__('lng.questions', '!')?></a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="nav navbar-nav" hspace="70">
                    <li><a>&copy; Стоковый интернет-магазин "Электрозенит" electrosenite.com.ua 2017 </a></li>
                    <li><a>ТМ используется на основании лицензии ФОП Елинский </a></li>
                </ul>
            </div>

        </div>
        <hr>
        <!--LiveInternet counter--><script type="text/javascript">
        document.write("<a href='//www.liveinternet.ru/click' "+
            "target=_blank><img src='//counter.yadro.ru/hit?t25.5;r"+
            escape(document.referrer)+((typeof(screen)=="undefined")?"":
                ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                    screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
            ";"+Math.random()+
            "' alt='' title='LiveInternet: показано число посетителей за"+
            " сегодня' "+
            "border='0' width='88' height='15'><\/a>")
    </script>
    </div>
    </nav>
</footer>

</body>

</html>
