<h3>Информационные страницы</h3><br/>

<table class="table table-striped" style="width: 950px;">
    <tr>
        <td><b>1</b></td>
        <td><b>Акции</b></td>
        <td align="right">
            <a href="/admin/informations/shares"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>
        </td>
    </tr>
    <tr>
        <td><b>2</b></td>
        <td><b>Доставка и оплата</b></td>
        <td align="right">
            <a href="/admin/informations/edit/1"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>
        </td>
    </tr>
    <tr>
        <td><b>3</b></td>
        <td><b>Гарантия</b></td>
        <td align="right">
            <a href="/admin/informations/edit/2"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>
        </td>
    </tr>
    <tr>
        <td><b>4</b></td>
        <td><b>Продавать с нами</b></td>
        <td align="right">
            <a href="/admin/informations/edit/3"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>
        </td>
    </tr>
    <tr>
        <td><b>5</b></td>
        <td><b>О нас</b></td>
        <td align="right">
            <a href="/admin/informations/edit/4"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>
        </td>
    </tr>
    <tr>
        <td><b>6</b></td>
        <td><b>Возврат товара</b></td>
        <td align="right">
            <a href="/admin/informations/edit/5"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>
        </td>
    </tr>
    <tr>
        <td><b>7</b></td>
        <td><b>Условия использования сайта</b></td>
        <td align="right">
            <a href="/admin/informations/edit/6"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>
        </td>
    </tr>

</table>
<div>
    <a href="/admin/"><button class="btn btn-sm btn-success">Выход</button></a>
</div>

