<div class="container">
    <hr>
    <h2 style="text-align: center"> Редактирование списания товара успешно выполнено.</h2>
    <hr>
    <h4 style="text-align: center"></h4>
    <hr>

    <div class="row">
        </br>
        </br>
        <div class="col-sm-6 ">
            <p><a  href="/admin/baskets/writes/1"><button class="btn btn-primary btn-block">Вернуться в Списания</button></a></p>

            <hr>
        </div>
        <div class="col-sm-6" >
            <p><a  href="/admin/baskets/"><button class="btn btn-primary btn-block">Вернуться в Заказы / Списапния</button></a></p>
            <hr>
        </div>
    </div>
</div>
