<div class="container">
    <hr>
    <h2 style="text-align: center"> Списание товара с сайта выполнено успешно.</h2>
    <hr>
    <h4 style="text-align: center"></h4>
    <hr>



    <div class="row">
        </br>
        </br>
        <div class="col-sm-6 ">
            <p><a  href="/admin/baskets/applications/1"><button class="btn btn-primary btn-block">Вернуться в Заказы</button></a></p>

            <hr>
        </div>
        <div class="col-sm-6" >
            <p><a  href="/admin/pages/"><button class="btn btn-primary btn-block">Вернуться в Список страниц</button></a></p>
            <hr>
        </div>
    </div>
</div>
