<div class="container">
    <hr>
    <h2 style="text-align: center"> Ошибка в записи менеджера !</h2>
    <hr>
    <h4 style="text-align: center">Посмотрите внимательно. Исправте ошибки и повторите ещё раз.</h4>
    <hr>



    <div class="row">
        </br>
        </br>
        <div class="col-sm-6 ">
            <p><a onclick="javascript:history.back(); return false;"><button class="btn btn-primary btn-block">Вернуться назад</button></a></p>
            <hr>
        </div>
        <div class="col-sm-6" >
            <p><a  href="/"><button class="btn btn btn-primary btn-block">Вернуться на главную страницу</button></a></p>
            <hr>
        </div>
    </div>
</div>