<div class="container">
    <hr>
    <h2 style="text-align: center"> Ошибка в списания заявки !</h2>
    <hr>
    <h4 style="text-align: center">Неверные данные о количестве товара. Исправте ошибки и повторите ещё раз.</h4>
    <hr>



    <div class="row">
        </br>
        </br>
        <div class="col-sm-6 ">
            <p><a onclick="javascript:history.back(); return false;"><button class="btn btn-primary btn-block">Вернуться назад</button></a></p>
            <hr>
        </div>
        <div class="col-sm-6" >
            <p><a  href="/admin/baskets/applications/1"><button class="btn btn-primary btn-block">Вернуться в Заказы</button></a></p>
            <hr>
        </div>
    </div>
</div>