<h3>Новый производитель</h3><br/>

<form method="post"  action="">
    <!-- Наполнение информацией  -->
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="form-group">
                    <label for="name">Наименование</label>
                    <input type="text" id="name" name="name" value="" class="form-control" style=" width: 500px;"/>
                </div>
            </div>
            <div class="col-sm-5">
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-success" />
</form>

