<h3>Список страниц администрирования</h3><br/>

<table class="table table-striped" style="width: 950px;">
    <tr>
        <td><b>1</b></td>
        <td><b>Товары</b></td>
        <td align="right">
            <a href="/admin/products//1/0/0/0/0/0"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>
        </td>
    </tr>
    <tr>
        <td><b>2</b></td>
        <td><b>Каталоги товаров</b></td>
        <td align="right">
            <a href="/admin/catalogs//0"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>
        </td>
    </tr>
    <tr>
        <td><b>3</b></td>
        <td><b>Производители</b></td>
        <td align="right">
            <a href="/admin/brends"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>
        </td>
    </tr>
    <tr>
        <td><b>4</b></td>
        <td><b>Поставщики</b></td>
        <td align="right">
            <a href="/admin/providers"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>
        </td>
    </tr>
    <tr>
        <td><b>5</b></td>
        <td><b>Cообщения пользователей</b></td>
        <td align="right">
            <a href="/admin/contacts//1"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>
        </td>

        <td>
            <?php
                $quantity = 0;
                foreach ($data['messages'] as $exsemplar_messages)
                {
                    if($exsemplar_messages['id'] && !$exsemplar_messages['viewed'])//Если есть сообщение и нет просмотра
                    {
                        $quantity++;
                    }
                }
                if($quantity != 0 )//Если есть сообщение и нет просмотра
                {
                    echo "$quantity" . "&nbsp непрочитаных сообщений";
                }
            ?>
        </td>
    </tr>
    <tr>
        <td><b>6</b></td>
        <td><b>Заказы / списания</b></td>
        <td align="right">
            <a href="/admin/baskets/"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>
        </td>
        <td>
            <?php
                $quantity = 0;
                foreach ($data['orders'] as $exsemplar_orders)
                {
                    if($exsemplar_orders['id_orders'] && !$exsemplar_orders['manager_first'])//Если есть сообщение и нет просмотра
                    {
                        $quantity++;
                    }
                }
                if($quantity != 0 )//Если есть сообщение и нет просмотра
                {
                    echo " <font color=\"red\">$quantity непринятых заявок</font>";
                }
            ?>
        </td>
    </tr>
    <tr>
        <td><b>7</b></td>
        <td><b>Статистика</b></td>
        <td align="right">
            <a href="/admin/pages/edit/<?=$page_data['id']?>"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>
        </td>
    </tr>
    <tr>
        <td><b>8</b></td>
        <td><b>Наша контактная информация</b></td>
        <td align="right">
            <a href="/admin/locations/"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>

        </td>
    </tr>
    <tr>
        <td><b>9</b></td>
        <td><b>Зарегистрированные пользователи</b></td>
        <td align="right">
            <a href="/admin/users//1/0"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>
        </td>
        <td>
            <?php
                $quantity = 0;
                foreach ($data['users'] as $exsemplar_users)
                {
                    if($exsemplar_users['id_user'] && $exsemplar_users['is_active'])//Если есть пользователь и он активен
                    {
                        $quantity++;
                    }
                }
                if($quantity != 0 )//Если есть активные пользователи
                {
                    echo "$quantity" . "&nbsp активных пользователей";
                }
            ?>
        </td>
    </tr>
    <tr>
        <td><b>10</b></td>
        <td><b>Информационные страницы</b></td>
        <td align="right">
            <a href="/admin/informations/"><button class="btn btn-sm btn-primary">Открыть страницу</button></a>
        </td>
    </tr>
</table>
<div>
    <a href="/admin/users/logout"><button class="btn btn-sm btn-success">Выход из учётной записи</button></a>
</div>

