<!--Форма логина. Авторизация-->
<h3>Авторизация</h3><br/>

<form method="post" action="">
    <div class="form-group">
        <label for="login">Ваш Email</label>
        <input type="text" id="login" name="login" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" id="password" name="password" class="form-control" />
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <input type="submit" class="btn btn-success" />
            </div>
            <div class="col-sm-3">
                <a href="/admin/users/registration"><h5> Зарегистрироваться </h5></a>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</form>

<div class="container" style="margin-top: 15px">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-3">
        <div>
            <!-- Ссылка возврата назад!!!! -->
            <a onclick="javascript:history.back(); return false;"><button class="btn btn-sm btn-primary">Вернуться назад</button></a>
        </div>
    </div>
    <div class="col-sm-5">
        <div>

        </div>
    </div>
</div>