<h3>Товары</h3>
<?php
    $page_number = $data['catalog_num']; // Номер просматриваемой страницы
    $directory_number = $data['directory_num'];
    $subdirectory_number = $data['subdirectory_num'];
    $brend_number = $data['brend_num'];
    $provider_number = $data['provider_num'];
    $direction_number = $data['direction_num'];

//--------------------------------------------------------------
//Вывод параметров url запросов. После отладки - удалить!!
    echo (" page "). ($page_number);
    echo (" directory ").($directory_number);
    echo (" subdirectory ").($subdirectory_number);
    echo (" brend ").($brend_number);
    echo (" provider ").($provider_number);
    echo (" direction ").($direction_number);
//-----------------------------------------------------------------

?>
<div>
    <a href="/admin/pages/add/"><button class="btn btn-sm btn-success" title="Загрузить Excel-файл с товаром который нужно списать из каталога">Загрузить списание товаров</button></a>
    <a href="/admin/products/add/"><button class="btn btn-sm btn-success"title="Нажмите чтобы добавить новый товар в каталог">Добавить новый товар</button></a>
    <a href="/admin/pages/add/"><button class="btn btn-sm btn-success" title="Загрузить Excel-файл с товаром который нужно добавить в каталог">Загрузить новый каталог</button></a>
    <a href="/admin/pages/add/"><button class="btn btn-sm btn-success" title="Скачать каталог товаров в виде Excel-файла">Выгрузить каталог</button></a>
</div><br/>
<!--  Для страниц Товаров!!! -->
<table class="table table-bordered table-striped" style="width: 400px;">
    <thed>
        <th bgcolor="#6495ed">ID</th>
        <th bgcolor="#6495ed">Наименование</th>
        <th bgcolor="#6495ed">Артикул</th>
        <th bgcolor="#6495ed">Каталог</th>
        <th bgcolor="#6495ed">Подкаталог</th>
        <th bgcolor="#6495ed">Производитель</th>
        <th bgcolor="#6495ed">Поставщик</th>
        <th bgcolor="#6495ed">Цена, грн</th>
        <th bgcolor="#6495ed">На складе</th>
        <th bgcolor="#6495ed">Редактировать/ Удалить</th>
    </thed>
    <tbody>
        <tr>
            <td bgcolor="orange"><b> </b></td>
            <td bgcolor="orange"><b></b></td>
            <td bgcolor="orange"><b></b></td>
            <!--Выбот директории-->
            <td bgcolor="orange"><b>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <?php
                            if($directory_number == 0)
                            {
                        ?>
                                Все
                        <?php
                            }
                            else
                            {
                                $name = $data['dir_name'];
                        ?>
                                <?=$name['name_directory']?>
                        <?php
                            }
                        ?>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/products//1/0/0/<?=$brend_number?>/<?=$provider_number?>/<?=$direction_number?>">Все</a></li>
                        <?php
                        $catalog_id=0;
                        $prod_catalog_id=0;
                        foreach($data['directory'] as $catalog_data)
                        {
                            if ($catalog_data['id_directory']==$catalog_id)// равно 0 - это каталоги
                            {
                        ?>
                        <li><a href="/admin/products//1/<?=$catalog_data['id_catalog']?>/0/<?=$brend_number?>/<?=$provider_number?>/<?=$direction_number?>"><?=$catalog_data['name_directory']?></a></li>
                        <?php
                            }
                        }
                    ?>
                    </ul>
                </div>
                </b>
            </td>
            <!--Выбор поддиректории-->
            <td bgcolor="orange"><b>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <?php
                            if($subdirectory_number == 0)
                            {
                        ?>
                        Все
                        <?php
                            }
                            else
                            {
                                $name = $data['subdir_name'];//Имя открытой директории из БД
                        ?>
                                <?=$name['name_directory']?>
                        <?php
                            }
                        ?>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/products//1/<?=$directory_number?>/0/<?=$brend_number?>/<?=$provider_number?>/<?=$direction_number?>">Все</a></li>
                        <?php

                        foreach($data['directory'] as $catalog_data)
                        {
                            if ($catalog_data['id_directory']==$directory_number)// равно номеру директории - это подкаталоги
                            {
                        ?>
                        <li><a href="/admin/products//1/<?=$directory_number?>/<?=$catalog_data['id_catalog']?>/<?=$brend_number?>/<?=$provider_number?>/<?=$direction_number?>"><?=$catalog_data['name_directory']?></a></li>
                        <?php
                            }
                        }
                    ?>
                    </ul>
                </div>
            </b>
            </td>
            <!--Выбор имени Производителя-->
            <td bgcolor="orange"><b>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <?php
                            if($brend_number == 0)
                            {
                        ?>
                        Все
                        <?php
                            }
                            else
                            {
                                $name = $data['brend_name'];
                        ?>
                                <?=$name['name_brend']?>
                        <?php
                            }
                        ?>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/products//1/<?=$directory_number?>/<?=$subdirectory_number?>/0/<?=$provider_number?>/<?=$direction_number?>">Все</a></li>
                        <?php

                        foreach($data['brend'] as $data_brend)
                        {

                        ?>
                        <li><a href="/admin/products//1/<?=$directory_number?>/<?=$subdirectory_number?>/<?=$data_brend['id_brend']?>/<?=$provider_number?>/<?=$direction_number?>"><?=$data_brend['name_brend']?></a></li>
                        <?php

                        }
                    ?>
                    </ul>
                </div>
            </b>
            </td bgcolor="orange">
            <!--Выбор имени Поставщика-->
            <td bgcolor="orange"><b>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <?php
                            if($provider_number == 0)
                            {
                        ?>
                                Все
                        <?php
                            }
                            else
                            {
                                $name = $data['provider_name'];
                        ?>
                        <?=$name['name_provider']?>
                        <?php
                            }
                        ?>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/products//1/<?=$directory_number?>/<?=$subdirectory_number?>/<?=$brend_number?>/0/<?=$direction_number?>">Все</a></li>
                        <?php
                        foreach($data['provider'] as $data_provider)
                        {
                        ?>
                        <li><a href="/admin/products//1/<?=$directory_number?>/<?=$subdirectory_number?>/<?=$brend_number?>/<?=$data_provider['id_provider']?>/<?=$direction_number?>"><?=$data_provider['name_provider']?></a></li>
                        <?php
                        }
                    ?>
                    </ul>
                </div>
            </b>
            </td>
            <!--Выбор направлнния цен-->
            <td bgcolor="orange"><b>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <?php
                            if($direction_number == 0)
                            {
                        ?>
                                Все
                        <?php
                            }
                            if($direction_number == 1)
                            {
                        ?>
                                Увеличение
                        <?php
                            }
                            if($direction_number == 2)
                            {
                        ?>
                                Уменьшение
                        <?php
                            }
                        ?>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/products//1/<?=$directory_number?>/<?=$subdirectory_number?>/<?=$brend_number?>/<?=$provider_number?>/0">Все</a></li>
                        <li><a href="/admin/products//1/<?=$directory_number?>/<?=$subdirectory_number?>/<?=$brend_number?>/<?=$provider_number?>/1">Увеличение</a></li>
                        <li><a href="/admin/products//1/<?=$directory_number?>/<?=$subdirectory_number?>/<?=$brend_number?>/<?=$provider_number?>/2">Уменьшение</a></li>
                    </ul>
                </div>
                </b>
            </td>
            <td bgcolor="orange"><b> </b></td>
            <td bgcolor="orange"><b> </b></td>
        </tr>
<!-- Отображение строк таблицы с пагинацией -->
        <?php
            //-- Цикл с пагинацией!!------//
            $product_table = $data['product'];//Вводим таблицу в начале, чтоб небыло зависание в условии
            //-- Сортировка по направлению цен ------//
            if ($direction_number == 1)//increase  reduction
            {
                $product_table = $data['increase'];
            }
                if ($direction_number == 2)//increase  reduction
            {
                $product_table = $data['reduction'];
            }
            $amount=0;//индекс суммы стоимости обнуляем
            $number=0;//индекс цикла обнуляем,
            $max_number = 10;//20 циклов-сообщений на страницу
            foreach($product_table as $product)
            {
                if (($product['id_directory'] == $directory_number) || ($directory_number == 0))//Проверка наличия нужной директории
                {
                    if (($product['id_subdirectory'] == $subdirectory_number) || ($subdirectory_number == 0))//Проверка наличия нужной субдиректории
                    {
                        if (($product['id_brend'] == $brend_number) || ($brend_number == 0))//Проверка наличия нужного Производителя
                        {
                            if (($product['id_provider'] == $provider_number) || ($provider_number == 0))//Проверка наличия нужного Поставщика
                            {
                                if (($number < ($max_number * $page_number))&&($number >= ($max_number *($page_number-1))))//Проверка на диапазон страниц - пагинация
                                {
                                //body cycle
                                    $p_directory = "error";
                                    $p_subdirectory = "error";
                                    $p_brend = "no";
                                    $p_provider = "error";
                                    //Выделение каталога по id
                                    foreach($data['directory'] as $exemplar_directory)
                                    {
                                        if ($exemplar_directory['id_catalog'] == $product['id_directory'])
                                        {
                                            $p_directory = $exemplar_directory['name_directory'];
                                        }
                                    }
                                    //Выделение подкаталога по id
                                    foreach($data['directory'] as $exemplar_directory)
                                    {
                                        if ($exemplar_directory['id_catalog'] == $product['id_subdirectory'])
                                        {
                                        $p_subdirectory = $exemplar_directory['name_directory'];
                                        }
                                    }
                                    //Выделение Производителя по id
                                    foreach($data['brend'] as $exemplar_brend)
                                    {
                                        if ($exemplar_brend['id_brend'] == $product['id_brend'])
                                        {
                                        $p_brend = $exemplar_brend['name_brend'];
                                        }
                                    }
                                    //Выделение Поставщика по id
                                    foreach($data['provider'] as $exemplar_provider)
                                    {
                                        if ($exemplar_provider['id_provider'] == $product['id_provider'])
                                        {
                                        $p_provider = $exemplar_provider['name_provider'];
                                        }
                                    }
                                ?>
                                <!-- Заполнение полей таблицы -->
                                <tr>
                                    <td><b><?=$product['id_product']?></b></td>
                                    <td><b><?=$product['name_product']?></b></td>
                                    <td><b><?=$product['code']?></b></td>
                                    <td><b><?=$p_directory?></b></td>
                                    <td><b><?=$p_subdirectory?></b></td>
                                    <td><b><?=$p_brend?></b></td>
                                    <td><b><?=$p_provider?></b></td>
                                    <td><b><?=$product['price']?></b></td>
                                    <td><b><?=$product['quantity']?></b></td>
                                    <td align="right">
                                        <a href="/admin/products/edit/<?=$product['id_product']?>"><button class="btn btn-sm btn-primary">Редактировать</button></a>
                                        <a href="/admin/products/delete/<?=$product['id_product']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">Удалить</button></a>
                                    </td>
                                </tr>
                                <?php
                                }
                                $number++;
                                $amount+=$product['price'] * $product['quantity'];
                            }
                        }
                    }
                }
            }
        ?>
    </tbody>
    Товаров с указанными параметрами на общую сумму: <?=$amount?> грн.
</table>
<!-- Постраничная навигация!!!!!Пагинация!!------>
<div align="center">
    <ul class="pagination">
        <?php
            if ($page_number < $number)
            {
                $page_next = $page_number+1;
            }
            else
            {
                $page_next = $number;
            }
            //Отработка уменьшения страницы
            if ($page_number > 1)
            {
                $page_previous = $page_number-1;
            }
            else
            {
                $page_previous = 1;
            }
            if ($page_number != 1)
            {
            ?>
            <li><a href="/admin/products//<?=$page_previous?>/<?=$directory_number?>/<?=$subdirectory_number?>/<?=$brend_number?>/<?=$provider_number?>/<?=$direction_number?>">&laquo;</a></li>
            <li><a href="/admin/products//1/<?=$directory_number?>/<?=$subdirectory_number?>/<?=$brend_number?>/<?=$provider_number?>/<?=$direction_number?>"><?=1?></a></li>
            <?php
            }
            //Определения максимальноя страницы
            if ( $number % $max_number)
            {
                $number = ($number-($number % $max_number)) / $max_number + 1;
            }
            else
            {
                $number = ($number / $max_number);
            }
        ?>
        <!--Пагинация на текущей странице -->

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><u><?=$page_number?></u></a>
                <ul class="dropdown-menu">
                    <?php //Цикл выпадающено списка
                        for ( $j = 1 ; $j <= $number ; $j++)
                        { ?>
                    <li><a href="/admin/products//<?=$j?>/<?=$directory_number?>/<?=$subdirectory_number?>/<?=$brend_number?>/<?=$provider_number?>/<?=$direction_number?>"><?=$j?></a></li>
                    <?php
                        }
                    ?>
                </ul>
            </li>
        <?php
            if ($page_number != $number)
            {
        ?>
            <li><a href="/admin/products//<?=$number?>/<?=$directory_number?>/<?=$subdirectory_number?>/<?=$brend_number?>/<?=$provider_number?>/<?=$direction_number?>"><?=$number?></a></li>
        <?php //Отработка увеличения страницы
                if ($page_number < $number)
                {
                    $page_next = $page_number+1;
                }
                else
                {
                    $page_next = $number;
                }
        ?>
            <li><a href="/admin/products//<?=$page_next?>/<?=$directory_number?>/<?=$subdirectory_number?>/<?=$brend_number?>/<?=$provider_number?>/<?=$direction_number?>">&raquo;</a></li>
        <?php
            }
        ?>
    </ul>
</div>
